*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body .err{
 font-size: 80px;
 color: blue;
 text-align: center;
 justify-content: center;
 align-items: center;
 margin-top: 80px;
}
body .mes{
    font-size: 30px;
 color:green;
 text-align: center;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}